NuGet
configstore
eog
gtk-2.0
htop
inkscape
qBittorrent
setitc
xbuild
stetic
neofetch

//zsh-related
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump
zsh/.zshrc
zsh/.zcompcache
zsh/plugins/zsh-syntax-highlighting/.gitignore

//yabai windows manager
yabai
//hotkey daemon for yabai
skhd    

flameshot
git
