NuGet
configstore
eog
gtk-2.0
htop
inkscape
qBittorrent
setitc
xbuild
stetic
neofetch

//MacOs artifacts
.DS_Store

//zsh-related
//zsh history files
zsh/.zsh_history
zsh/.zsh_sessions

zsh/.zcompdump
zsh/.zshrc
zsh/.zcompcache

//zsh plugins artifact
zsh/plugins/*

//nvim modified files history
nvim/.netrwhist
nvim/undodir

//emacs packages installation folder
emacs/elpa
//emacs backup configuration file
emacs/init.el~
emacs/init.el
emacs/transient
emacs/auto-save-list
emacs/backups
emacs/bookmarks
emacs/org-roam.db
emacs/projectile-bookmarks.eld
emacs/.org-id-locations
emacs/recentf

//yabai windows manager
yabai
//hotkey daemon for yabai
skhd    

flameshot
git
